# Android Studio
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IDE files
.idea/

# Local properties
local.properties

# Keystore files
*.jks
*.keystore

# Google services
google-services.json

# Crashlytics
**/libs/libcrashlytics-trampoline.so

# Proguard
proguard-rules.pro

# Screenshots
screenshots/

# Release artifacts
app/release/
