name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build project
      run: ./gradlew build

    - name: Run Detekt
      run: ./gradlew detekt

    - name: Run Lint
      run: ./gradlew lint

    - name: Run ktlint
      run: ./gradlew ktlintCheck

    - name: Run unit tests
      run: ./gradlew test

    - name: Run instrumented test
      uses: reactivecircus/android-emulator-runner@v2
      with:
       api-level: 29
       script: ./gradlew connectedCheck

    - name: Generate JaCoCo report
      run: ./gradlew jacocoTestReport

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: tecruz/MaterialCalculator
