name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build project
      run: ./gradlew build

    - name: Run Detekt
      run: ./gradlew detekt

    - name: Run Lint
      run: ./gradlew lint

    - name: Run ktlint
      run: ./gradlew ktlintCheck

    - name: Run unit tests
      run: ./gradlew test

    - name: Run instrumented tests
      run: ./gradlew connectedCheck

    - name: Generate JaCoCo report
      run: ./gradlew jacocoTestReport

    - name: Upload to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
